/************************************************

Stylesheet: Gutenberg (im Backend)
(reload Frontend to write CSS-File)

*************************************************/

 @import "mixins";
 @import "fonts";
 @import "bridge";
 @import "utilities";
 
 .editor-styles-wrapper{
	 font-family: var(--t-font-base);
	 color: var(--t-color-text);
   .content {
      font-size: var(--t-fs-m);
      line-height: 1.6;
      > * + * {
        margin-top: var(--t-space-m);
      }
   }   
 }
 
 .editor-styles-wrapper h1,
 .editor-styles-wrapper h2,
 .editor-styles-wrapper h3,
 .editor-styles-wrapper h4,
 .editor-styles-wrapper h5,
 .editor-styles-wrapper h6{
	 font-family: var(--t-font-heading);
 }
 
 /* Deine Editor-UX Helfer bleiben erlaubt */
 .wp-block.is-selected{
	 background: color-mix(in srgb, var(--t-color-text), var(--t-color-bg) 85%);
 }

.wp-block-columns {
	 border: 1px dashed var(--t-editor-outline);
	 padding: 10px;
 
	 .wp-block-column {
		 border: 1px dashed var(--t-editor-outline);
     &.is-selected{
       background:  color-mix(in srgb, var(--t-color-text), var(--t-color-bg) 95%);
     }
	 }
 }
 
 .wp-block-spacer {
	 background: var(--t-editor-fill);
	 border: 2px dotted var(--t-color-text);
	 margin-bottom: 10px;
 }

// ACF Blöcke 
.acf-block-component{
	.acf-block-preview{
		
	}
}
